argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
daal==2025.9.0
idna==3.11
iniconfig==2.3.0
joblib==1.5.2
liac-arff==2.5.0
minio==7.2.20
numpy==2.3.5
openml==0.15.1
packaging==25.0
pandas==2.3.3
pluggy==1.6.0
pyarrow==22.0.0
pycparser==2.23
pycryptodome==3.23.0
Pygments==2.19.2
pytest==9.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
scikit-learn==1.7.2
scikit-learn-intelex==2025.9.0
scipy==1.16.3
six==1.17.0
tbb==2022.3.0
tcmlib==1.4.1
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
xmltodict==1.0.2
